.collection-page{
  display: flex;
  flex-direction: column;
}

.collection-page .title{
  font-size: 38px;
  margin: 0 auto 30px;
}

.collection-page .items{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap : 10px;
}

.collection-page .items.collection-item{
  margin-bottom: 30px;
}

@media(max-width : 800px){
  .collection-page{
    margin-left:20px;
  }
  .collection-page .items{
    grid-template-columns: repeat(2,1fr)!important;

  }
}
