.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart-dropdown .cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
}

.cart-dropdown .cart-items .empty-message{
  font-size: 18px;
  margin: 50px auto;
}

.cart-dropdown button {
  margin-top: auto;
}

.cart-dropdown::-webkit-scrollbar {
  display: none;
}
