.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

}

.header .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
}


.header .options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.header .options .option {
  padding: 10px 15px;
  cursor: pointer;
}


@media(max-width : 800px) {
.header{
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
}

.header .logo-container {
  width: 45px;
  padding: 0;
}

.header .options {
  width: 90%;
}


}
